// Main
// Author: Roy Peckham

// Imports
// @import "modules/colors";
// @import "modules/vendorMixins";
@import "modules/mixins";
@import "modules/reset";
@import "modules/standards";

@import "modules/fonts";
@import "modules/grid";
@import "modules/effects";

@import "modules/forms";
@import "modules/buttons";
//@import "modules/navigation";

@import "variables";


/* ------------------------------------------------- */
/* Global
/*
/*
/* ------------------------------------------------- */
html{
    //font-size: $base-font-size-percentage;
    font-family: $RobotoM !important;
}
body{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: $base-line-height !important;
    font-family: $RobotoM !important;
    color: $color-font !important;
    font-size: $base-font-size !important;
    background-color:$color-background !important;
}
.green-text{
    color: #4f8a1a; 
}
.red-text{
    color: #df4626; 
}
.primary-text{
    color:#102F41;
}
/*
* Problematic
*
*
*/
.application{
    font-family: inherit;
    line-height: inherit;
    &.theme--light{
        background: inherit;
    }
}


#toolbar{
    background: #102F41;
    .toolbar__title{
        font-weight: 100;
        letter-spacing: normal;
        font-size:16px;
        text-transform: uppercase;
        letter-spacing: 4px;
        
    }
}

#toolbar-table{
    .toolbar__content{
        vertical-align: bottom;
        .menu{
            padding-right:10px;
        }
    }
    background: #FFF;
    .toolbar__title{
        font-size: 14px !important;
        letter-spacing: normal;
        line-height: normal;
        font-weight: 400;
        .view-filter{
            font-weight:700;
        }
        .highlight-filter{
            font-weight:700;
        }
    }
    i{
        color: inherit;
    }
}

#trending-container{
    font-family: $RobotoM;
    @include standard_size(20px, 20px, $max_width: 1400px); 
    text-align: right;
    vertical-align: bottom;
    box-sizing: border-box;
    .trending-content{
        border: 1px solid $color-border;
        float:left;
        width: 66%;
        box-sizing: border-box;
        height: 60px;
        .tc-title{
            border-right:1px solid $color-border;          
            vertical-align: middle;
            width:10%;
            padding:10px;
            box-sizing: border-box;
            height:58px;
            float: left;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: normal;
            text-align: center;
        }
        .watch_list-coin{
            border-left:1px solid $color-border;    
            width:18%;
            float:left;
            box-sizing: border-box;
            height: 58px;
            &:nth-child(2){
                border-left:0;
            }
            .wlc-title{
                height: 35px;
                text-align: center;
                font-size: 18px;
                padding-top:10px;
                box-sizing: border-box;
                a{
                    color: $color-links;
                    text-decoration: underline;
                }
            }
            .wlc-change{
                height: 23px;
                width:90%;
                margin: 0 auto;                
                div{
                    width:50%;
                    float:left;
                    font-size: 10px;
                    line-height: 23px;
                    text-align: center;
                    &.change_green{
                        color: green;
                    }                    
                    &.change_red{
                        color:#F00 !important;
                    } 
                }

            }
        }
    }    
    .trending-ad{
        float:left;
        width: 34%;
        height: 60px;
        img{
            float:right;
        }
    }
}

#table-container{
    font-family: $RobotoM;
    @include standard_size(30px, 20px, $max_width: 1400px); 
    text-align: right;
    vertical-align: bottom;
    table{
        width:100%;
        tr{
            width:100%;
            &:nth-child(odd){
                background-color:#f4f4f4;
            }  
            &:first-child{
                background-color:$color-background;
            }
            th{
                width:auto;
                padding:8px;
                box-sizing: border-box;
                font-size: 12px;
                font-weight: 500;
                border-bottom: 1px solid #666; 
                border-top: 2px solid #666; 
                text-transform: uppercase;   
                color: lighten($color-black, 25%);        
                &:hover{
                    //text-decoration: underline;
                    font-weight: 700;
                    color: $color-black;
                    cursor: pointer;
                }
                &.social_title{
                    width:150px;
                }
                &.percent_change{
                    width:1%;
                    white-space: nowrap;
                }  
                //
                &.active_class{
                    color: $color-black;
                    font-weight: 700;
                }
                &.left_align{
                    text-align: left;
                } 
                 
                i{
                    font-size:14px;
                    color:#000;
                }                                                     
            }
            td{
                border-bottom: 1px solid #BBB;
                width:auto;
                padding:6px 8px;
                box-sizing: border-box;
                font-size:13px;
                font-weight: 400;
                letter-spacing: 0;
                a{
                    color: $color-links;
                }
                &.symbol{
                    font-weight: 700;
                    cursor: pointer;
                    width: 1%;
                    white-space: nowrap;  
                    text-decoration: underline;
                    i{
                        font-size:14px;
                        vertical-align: middle;
                        position: relative;
                        bottom:2px;
                    }
                }
                &.id{
                    color:$color-text-lightgrey;
                    font-style: italic;
                    font-size: 10px;
                    vertical-align: bottom;
                    width: 1%;
                    white-space: nowrap;  
                }
                //
                &.usd{
                    width:120px;   
                    border-left: 1px solid #DDD;   
                    font-weight: 500;          
                }
                &.cap{
                    width:120px;
                    font-size:10px;
                    vertical-align: bottom;
                }
                &.supply{
                    width:120px;
                    font-size:10px;
                    vertical-align: bottom;
                }
                //
                &.r_score{
                    width:120px;   
                    border-left: 1px solid #DDD;             
                    padding-left: 20px;
                }
                &.r_activity{
                    width:120px;
                }
                &.r_change{
                    width:120px;
                }
                &.supply{
                    width:120px;
                }
                //
                &.percent_change{
                    width:1%;
                    white-space: nowrap;
                    font-size:10px;
                    vertical-align: bottom;
                    &.hour{
                        border-left:1px solid #DDD;
                    }
                } 
                // 
                &.left_align{
                    text-align: left;
                }  
                &.change_green{
                    color: green;
                }                    
                &.change_red{
                    color:#F00 !important;
                } 
                &.bg_red{
                    background-color: rgba(255,0,0,.1);
                }
                         
            }
        }
    }

}


/*
* Currency
*
*
*/
#currency_container{
    font-family: $RobotoM;
    @include standard_size(50px, 20px, $max_width: 1400px);
    .currency_row{
        width: 100%;
        border-bottom: 1px solid $color-border;
        //border-top: 1px solid #DDD;
        padding:25px 0;
    }
    .currency_row-children{
        width: 100%;
        border-bottom: 1px solid $color-border;
        display: flex;
        .currency_row-50{
            padding:25px;
            width:50%;
            float:left;
            box-sizing: border-box;
            border-right:1px solid $color-border;
            &:last-child{
                border-right:none;
            }
        } 
        .currency_row-25{
            padding:25px;
            width:25%;
            float:left;
            box-sizing: border-box;
            border-right:1px solid $color-border;
            &:nth-child(4){
                border-right:none;
            }
        }        
        .currency_row-33{
            padding:25px;
            width:33.3333%;
            float:left;
            box-sizing: border-box;
            border-right:1px solid $color-border;
        }
        .currency_row-66{
            padding:25px;
            width:66.6666%;
            float:left;
            box-sizing: border-box;
            border-right:1px solid $color-border;
        }        
    }    
}
// Row 0
#currency_row-0{
    #header-1{
        
    }
    #header-2{
        
    }
    #header-3{
        
    }
    #header-4{
        
    }    
}
// Row 1
#currency_row-1{
    #coin_meta{
        #symbol{
            font-size:72px;
            line-height: 72px;
            font-weight: 100;
        }
        #name-row{
            font-size:14px;
            font-weight: 300i;
            font-style: italic;
            padding-top:5px;
            #name{
                letter-spacing: 2px;
            }
            img{
                height:19px;
                width: auto;
                vertical-align: bottom;
            }
        }
        #currency-current_price{
            color: #4f8a1a;
            font-weight: 400i;
        }
        #currency-current_change_1h{
            font-weight: 400i;
        }
    }
    #ad{
        
    }
}
// Row 2
#currency_row-2{
    .currency_row-2-title{
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;    
        margin-bottom:12px;
    }    
    #market-basics{
        &.current_row-33{
            &:nth-child(3){
                border-right:none;
            }
        }
        .market_basics-row{
            border-bottom:1px solid #D9d9d9;
            font-weight: 300;
            padding:10px 0;
            font-size:14px;
            &:last-child{
                border-bottom:0;
            }
            .market_basics-row-key{
                font-weight: 400;
                text-transform: uppercase;
            }
            .market_basics-row-value{
                float:right;
                padding-right:10px;
            }
        }
    }
    #social-basics{
        .currency_row-2-title{
            padding-left:10px;    
        }
        .social_basics-row{
            border-bottom:1px solid #D9d9d9;
            font-weight: 300;
            padding:10px 0 10px 10px;
            font-size:14px;
            &:nth-child(2){
                height:40px; // TODO Hacked
            }
            &:last-child{
                border-bottom:0;
            }
            .social_basics-row-key{
                font-weight: 400;
                text-transform: uppercase;
            }
            .social_basics-row-value{
                float:right;
                padding-right:10px;
            }
            .toolbar__title{
                margin-left:0;
                text-transform: uppercase;
                font-size:14px;
                letter-spacing: 0;
                color:#017ea4;
                i{
                    color: #017ea4;
                    font-size:18px;
                }
            }
        }
    }
    #news-basics{
        border-right: none;
        .currency_row-2-title{
            padding-left:10px;    
        }
        .news_basics-row{
            border-bottom:1px solid #D9d9d9;
            font-weight: 300;
            padding:10px 0 10px 10px;
            font-size:14px;
            &:nth-child(2){
                height:40px; // TODO Hacked
            }
            &:last-child{
                border-bottom:0;
            }
            .news_basics-row-key{
                font-weight: 400;
                text-transform: uppercase;
            }
            .news_basics-row-value{
                float:right;
                padding-right:10px;
            }
            .toolbar__title{
                margin-left:0;
                text-transform: uppercase;
                font-size:14px;
                letter-spacing: 0;
                color:#017ea4;
                i{
                    color: #017ea4;
                    font-size:18px;
                }
            }
        }
    }          
}
// Row 3
#currency_row-3{
    margin-top:50px;
    .currency_row-3-title{
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;    
        margin-bottom:12px;        
    }
    #social-feeds{
        .currency_row-3-title{
               
        }
        .social_feeds-row{
            border-bottom:1px solid #D9d9d9;
            font-weight: 300;
            padding:10px 0 10px 0;
            font-size:14px;
            .social_feeds-article{
                font-weight: 500;
                font-style: italic;
                font-size: 14px;
                .social_feeds-article-meta{
                    padding-top:2px;
                    font-size:10px;
                    font-weight: 300;
                    display: block;
                    a{
                        font-weight: 300;
                        font-style: italic;
                        text-decoration: underline;
                        color: inherit;
                    }
                }
            }
            &:first-child{
                height:40px; // TODO Hacked
            }
            &:last-child{
                border-bottom:0;
            }
            .toolbar__title{
                margin-left:0;
                text-transform: uppercase;
                font-size:14px;
                letter-spacing: 0;
                color:#017ea4;
                i{
                    color: #017ea4;
                    font-size:18px;
                }
            }
        }
    }
    #news-feeds{
        border-right: none;
    }
}