// Main
// Author: Roy Peckham

// Imports
// @import "modules/colors";
// @import "modules/vendorMixins";
@import "modules/mixins";
@import "modules/reset";
@import "modules/standards";

@import "modules/fonts";
@import "modules/grid";
@import "modules/effects";

//@import "modules/forms";
@import "modules/buttons";
//@import "modules/navigation";

@import "components/design";
@import "components/home";
@import "components/coin";

@import "variables";


/* ------------------------------------------------- */
/* Global
/*
/*
/* ------------------------------------------------- */
html{
    //font-size: $base-font-size-percentage;
    font-family: $RobotoM !important;
}
body{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: $base-line-height !important;
    font-family: $RobotoM !important;
    color: $color-font !important;
    font-size: $base-font-size !important;
    background-color:$color-background !important;
}
.green-text{
    color: #4f8a1a; 
}
.red-text{
    color: #df4626; 
}
.primary-text{
    color:#102F41;
}
/*
*   Fix Vuetify 
*
*
*/
.application{
    font-family: inherit;
    line-height: inherit;
    &.theme--light{
        background: inherit;
    }
}


/*
*   App.vue
*
*
*
*/
#drawer_feed{
    .social_feeds-row{
        border-bottom:1px solid #D9d9d9;
        font-weight: 300;
        
        padding: 10px;
        .social_feeds-article{
            font-weight: 500;
            font-style: italic;
            font-size: 12px;
            line-height: 14px;
            a{
                font-weight: 500;
                font-style: italic;
                text-decoration: underline;
                color: $color-links;
            }
            .social_feeds-article-meta{
                padding-top:2px;
                font-size:10px;
                font-weight: 300;
                display: block;
            }
        }
        &:first-child{
            height:40px; // TODO Hacked
        }
        &:last-child{
            border-bottom:0;
        }
    }    
    .toolbar__title{
        padding:13px 0 10px 0;
        color: $color-black;
        text-transform: uppercase;
        font-size:14px;
        font-weight: 700;
    }     
    .toolbar{
        border-bottom:1px solid rgba(0,0,0,.12)!important;
    }  
}  

/*
*   App.vue
*
*
*
*/
.card__text{
    font-size:12px!important;

}



#toolbar{
    background: $color-toolbar-main;
    .toolbar__title{
        font-weight: 300;
        letter-spacing: normal;
        font-size:16px;
        text-transform: uppercase;
        letter-spacing: 4px;
        cursor: pointer;
    }
}


footer{
    background-color: $color-white!important;
    margin-top:50px;
    #footer_container{
        padding:0!important;
        margin:0!important;
        width:100%;
        
        #disclaimer{
            @include standard_size(20px, 20px, $max_width: 768px);
            text-align:center;
            font-size: 12px;
            a{
                text-decoration: underline;
                color: $color-links;
                padding:5px 0;
            }
            span{
                font-size: 10px;
            }
            i{
                color: $color-red!important;
            }
            *{
             display:block;   
            }
            //@include standard_size(20px, 20px, $max_width: 768px); 

        }
        #footer_content{
            border-top:1px solid $color-background;
            background-color: $color-toolbar-main;
            color: $color-white;
            font-weight: 300;
            #footer_content-inner{
                @include standard_size(0, 0, $max_width: 768px);
            }
        }
    }

}