/*
* Currency
*
*
*/


/*
*   Container, Main Objects
*
*/
#coin_container{
    font-family: $RobotoM;
    @include standard_size(0, 20px, $max_width: 1400px);
    #coin_breadcrumbs{
        display: flex;
        display: none; // DON'T SHOW BREADCRUMBS
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        a{
            color: $color-links;
            text-decoration: underline;
        }
        i{
            font-size:16px!important;
            
        }
    }
    .currency_row{
        width: 100%;
        border-bottom: 1px solid $color-border;
        //border-top: 1px solid #DDD;
        padding:25px 0;
    }
    .currency_row-children{
        width: 100%;
        border-bottom: 1px solid $color-border;
        display: flex;
        .currency_row-50{
            
            padding:20px;
            width:50%;
            float:left;
            box-sizing: border-box;
            border-right:1px solid $color-border;
            &:last-child{
                border-right:none;
            }
            
        } 
        .currency_row-25{
            box-sizing: border-box;
            padding:20px;
            width:25%;
            float:left;
            border-right:1px solid $color-border;
            &:nth-child(4){
                border-right:none;
            }
        }        
        .currency_row-33{
            padding:20px;
            width:33.3333%;
            float:left;
            box-sizing: border-box;
            border-right:1px solid $color-border;
        }
        .currency_row-66{
            padding:20px;
            width:66.6666%;
            float:left;
            box-sizing: border-box;
            border-right:1px solid $color-border;
        }        
    }    
}
// /Container

/*
*   Meta Tags
*
*/
#currency_row-meta{
    #coin_meta{
        border: 0;
        padding: 20px 0;
        #name{
            font-size: 52px;
            line-height: 52px;
            font-weight: 300;
            letter-spacing: -2px;
        }
        #details{
            font-size:12px;
            font-weight: 300;
            font-style: italic;
            padding-top: 5px;
            #name{
                
            }
            img{
                height:19px;
                width: auto;
                vertical-align: bottom;
            }
        }
        #currency-current_change_1h{
            font-weight: 400i;
        }
        a{
            color: $color-links;
            text-decoration: underline;
        }
    }
    #price{
        padding: 20px 0;   
        text-align: right;
        font-size: 48px;
        line-height: 48px;
        font-weight: 300;
        display: flex;
        #currency-current_price{
            display: inline;
            color: $color-green;
            text-align: right;
            width: 100%;
            letter-spacing: -2px;
        }
    }
}
// /Meta

/*
*   Numbers (Indicators) Row   
*
*/ 
#currency_row-numbers{ 
    .r_numbers-number{
        padding: 5px 25px;
        text-align: right;
        //width:25%;
        display:flex;
        .rn_type{
            font-size: 10px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            
        }
        .rn_value{
            font-size: 16px;
            color: $color-black;
        }
        &.changer{
            
            
            background-color:#f00;
        }
    }
}



// Row 0
#currency_row-0{
    .r0-title{
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
    }
    #header-1{
        width:50%;
        
    }
    #header-3{
        
        
        canvas{
            padding-top:25px;
            height:125px!important;
            width:100%!important;
        }
    }
    #header-4{
        border-right:0;
    }    
}
//  Indicators Row
#currency_row-numbers{
    
    .r_numbers-number{
        padding: 5px 25px;
        text-align: right;
        //width:25%;
        float:right;
        .rn_type{
            font-size: 10px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            
        }
        .rn_value{
            font-size: 16px;
            color: $color-black;
        }
        &.changer{
            
            
            background-color:#f00;
        }
    }
}
// Row Graph
#currency_row-graph{
    #graph_main{
        
        
    }
    #_feed{
        padding-right: 0;
        border-right: 0;
        .currency_row-graph-title{
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;           
        }        
        .social_feeds-row{
            border-bottom:1px solid #D9d9d9;
            font-weight: 300;
            padding:5px 0 5px 0;
            .social_feeds-article{
                font-weight: 500;
                font-style: italic;
                font-size: 12px;
                line-height: 14px;
                .social_feeds-article-meta{
                    padding-top:2px;
                    font-size:10px;
                    font-weight: 300;
                    display: block;
                    a{
                        font-weight: 300;
                        font-style: italic;
                        text-decoration: underline;
                        color: inherit;
                    }
                }
            }
            &:first-child{
                height:40px; // TODO Hacked
            }
            &:last-child{
                border-bottom:0;
            }
            .toolbar__title{
                margin-left:0;
                text-transform: uppercase;
                font-size:14px;
                letter-spacing: 0;
                color:#017ea4;
                i{
                    color: #017ea4;
                    font-size:18px;
                }
            }
        }       
    }  
}

// Row 2
#currency_row-2{
    .currency_row-2-title{
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;    
        margin-bottom:12px;
    }    
    #market-basics{
        &.current_row-33{
            &:nth-child(3){
                border-right:none;
            }
        }
        .market_basics-row{
            border-bottom:1px solid #D9d9d9;
            font-weight: 300;
            padding:10px 0;
            font-size:14px;
            &:last-child{
                border-bottom:0;
            }
            .market_basics-row-key{
                font-weight: 400;
                text-transform: uppercase;
            }
            .market_basics-row-value{
                float:right;
                padding-right:10px;
            }
        }
    }
    #social-basics{
        .currency_row-2-title{
            padding-left:10px;    
        }
        .social_basics-row{
            border-bottom:1px solid #D9d9d9;
            font-weight: 300;
            padding:10px 0 10px 10px;
            font-size:14px;
            &:nth-child(2){
                height:40px; // TODO Hacked
            }
            &:last-child{
                border-bottom:0;
            }
            .social_basics-row-key{
                font-weight: 400;
                text-transform: uppercase;
            }
            .social_basics-row-value{
                float:right;
                padding-right:10px;
            }
            .toolbar__title{
                margin-left:0;
                text-transform: uppercase;
                font-size:14px;
                letter-spacing: 0;
                color:#017ea4;
                i{
                    color: #017ea4;
                    font-size:18px;
                }
            }
        }
    }
    #news-basics{
        border-right: none;
        .currency_row-2-title{
            padding-left:10px;    
        }
        .news_basics-row{
            border-bottom:1px solid #D9d9d9;
            font-weight: 300;
            padding:10px 0 10px 10px;
            font-size:14px;
            &:nth-child(2){
                height:40px; // TODO Hacked
            }
            &:last-child{
                border-bottom:0;
            }
            .news_basics-row-key{
                font-weight: 400;
                text-transform: uppercase;
            }
            .news_basics-row-value{
                float:right;
                padding-right:10px;
            }
            .toolbar__title{
                margin-left:0;
                text-transform: uppercase;
                font-size:14px;
                letter-spacing: 0;
                color:#017ea4;
                i{
                    color: #017ea4;
                    font-size:18px;
                }
            }
        }
    }          
}
// Row 3
#currency_row-3{

    #news-feeds{
        border-right: none;
    }
}